*{
	margin:0;
	padding:0;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #000000;
}
h{
	font-family: "微软雅黑";
}
p{
	font-family: "微软雅黑";
}
.layout{
	width: 1000px;
	margin: 0 auto;
}
body,html{
	height: 100%;
}



#frmain {
	/* background: #F0F0F0; */
	background: url(../../img/userbg.jpg) repeat-y center center;
}
#main{
	background-color: rgba(255,255,255,0.8);
	/* height: 90%; */
	/* width: 90%; */
	min-height: 90%;
	margin: 3%;
	/* margin: 0 auto; */
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
}
.alret{
	background: #feda37;
	text-align: center;
	margin: 50px;
	padding: 80px;
	border-radius: 6px;
	letter-spacing: 5px;
}
.err{
	margin-top: 50px;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	color: #e2243f;
}
.back{
	margin-top: 20px;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	color: #56090a;
}



